body {
    background: $gris-clair;
}


h1{
    text-transform: uppercase;
    color : $rose;
    font-size: 38px;
}

h2{
    text-transform: uppercase;
    color : $gris;
    font-size: 32px;
    line-height: 1.2;
}
h3{
    text-transform: uppercase;
    color : $gris-f;
    font-size: 20px;
}
p{
    font-family: $helvneue;
    font-size: 14px;
    line-height: 1.4;
    color : $gris-f;
    a{
        font-family: $helvneue;
        color : $rose;
    }
}

.button{
    text-transform: uppercase;
}

/*.off-canvas.position-left {
    height: auto;
}*/