footer {
    &> .row {
        background-color: $blanc;
        li{
            a{
                font-size: 16px;
                font-family: $oswald;
                color : $noir;
                font-weight: 400;
            }
        }
        .cnil-block {
            border: 4px solid $gris-clair;
            padding: 20px 40px;
        }
    }
}