.mt-80 {
    margin-top: 80px;
}
.pt-80 {
    padding-top: 80px;
}
.pb-80 {
    padding-bottom: 80px;
}
.pt-40 {
    padding-top: 40px;
}
.pb-40 {
    padding-bottom: 40px;
}
.pb-20 {
    padding-bottom: 20px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-0 {
    margin-bottom: 0;
}
.pr-0, .columns.pr-0 {
    padding-right: 0;
}
.pl-0, .columns.pl-0 {
    padding-left: 0;
}
.bg-rose {
    background-color: $rose;
}
.bg-gris {
    background-color: $gris-clair;
}