.mt-80 {
    margin-top: 80px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-0 {
    margin-bottom: 0;
}
.pr-0, .columns.pr-0 {
    padding-right: 0;
}
.bg-rose {
    background-color: $rose;
}
.bg-gris {
    background-color: $gris-clair;
}