.immo-une {
    h1 {
        margin-bottom: 40px;
    }
}

.immo-type {
    .wrap-image {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        &> p {
            margin-bottom: 0;
        }
        &:before {
            content: "";
            position: absolute;
            background-color: $noir;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0.2;
        }
        .wrap-text {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            .lead {
                color: $blanc;
                font-size: 32px;
                font-family: $oswald;
                text-transform: uppercase;
            }
            .subheader {
                display: none;
                padding: 0 15px;
                color: $noir;
            }
        }
        &:hover {
            &:before {
                background-color: $blanc;
                opacity: 0.6;
            }
            .wrap-text {
                .lead {
                    color:$noir;
                }
                .subheader {
                    display: block;
                }
            }
        }
    }
}

.immo-price {
    .bg-rose {
        padding: 20px 40px;
        h3 {
            color: $blanc;
        }
    }
    .button-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 179px;
    }
}

.immo-rating {
    .rating-block {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 371px;
        padding: 20px 80px;
        h2 {
            color: $noir;
        }
    }
}