section {
    overflow: hidden;
    &> .row:not(.expanded) {
        background-color: $blanc;
        padding-left: 28px;
        padding-right: 25px; 
        @media screen and (min-width: 64em) {
            padding-left: 45px;
            padding-right: 45px;
        }
    }
}

.immo-banner {
    .row {
        height: 196px;
        @media screen and (min-width: 63em) {
            height: 430px;
        }
        position: relative;
        overflow: hidden;
        img {
            position: absolute;
            max-width: inherit;
            height: inherit;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 20%;
            @media screen and (min-width: 40em) {
                left: 50%;
            }
        }
    }
}

.immo-une {
    h1 {
        margin-bottom: 40px;
        line-height: 1.1;
    }
}

.immo-type {
    h2 {
        margin-bottom: 20px;
        @media screen and (min-width: 64em) {
            margin-bottom: 0;
        }
    }
    .wrap-image {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        &> p {
            margin-bottom: 0;
        }
        &:before {
            content: "";
            position: absolute;
            background-color: $noir;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0.2;
        }
        .wrap-text {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            .lead {
                color: $blanc;
                font-size: 32px;
                font-family: $oswald;
                text-transform: uppercase;
            }
            .subheader {
                display: none;
                padding: 0 15px;
                color: $noir;
            }
        }
        &:hover {
            &:before {
                background-color: $blanc;
                opacity: 0.6;
            }
            .wrap-text {
                .lead {
                    color:$noir;
                }
                .subheader {
                    display: block;
                }
            }
        }
    }
}

.immo-estim {
    .bg-gris {
        background-color: $gris-clair;
        text-align: center;
        @media screen and (min-width: 40em) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        padding: 20px 10px;
        h2 {
            color: $noir;
            display: inline-block;
            @media screen and (min-width: 40em) {
                margin-right: 40px;
            }
            margin-bottom: 0;
        }
        button {
            margin-bottom: 0;
        }
    }
}

.immo-methode {
    .slider {
        @media screen and (max-width: 64em) {
            background-color: $blanc;
        }
        .row {
            background-color: $blanc;
            @media screen and (max-width: 64em) {
                padding-left: 28px;
                padding-right: 25px;
                padding-bottom: 0
            }
        }
        .slick-dots {
            margin-top: 0;
        }
    }
}

.immo-price {
    .result-block {
        @media screen and (min-width: 40em) {
            padding-left: 0;
        }
    }
    .bg-rose {
        padding: 20px 40px 48px;
        margin-right: 0;
        h3 {
            color: $blanc;
        }
    }
    .search-block {
        @media screen and (min-width: 40em) {
            padding-right: 0;
        }
        &> .row {
            @media screen and (min-width: 40em) {
                margin-right: 0;
                margin-left: 0;
                border: 3px solid $gris-clair;
                padding-top: 20px;
            }
            @media screen and (min-width: 64em) {
                padding-left: 20px;
            }
        }
    }
    .button-wrapper {
        display: flex;
        align-items: center;
        @media screen and (min-width: 40em) {
            min-height: 179px;
        }
    }
}

.immo-news {
    h3 {
        font-size: 22px;
        color: $noir;
        margin-bottom: 20px;
    }
    p {
        color: $noir;
    }
}

.immo-rating {
    .images-wrapper {
        @media screen and (min-width: 40em) {
            width: calc(50% - 15px);
            padding-right: 0;
        }
    }
    .rating-block {
        @media screen and (min-width: 40em) {
            width: calc(50% + 15px);
            padding-left: 0;
        }
        .bg-gris {
            padding: 20px 10px;
            @media screen and (min-width: 40em) {
                padding: 20px 80px;
                min-height: 371px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            h2 {
                color: $noir;
            }
            .content-wrapper {
                h2, p {
                    text-align: left
                }
                @media screen and (max-width: 40em) {
                    text-align: center;
                } 
            }
        }
    }
}

.immo-contact {
    textarea {
        min-height: 204px;
    }
}   
