
.no-gutter {
	padding: 0;
}

.no-gutter-left {
	padding-left: 0;
}

.no-gutter-right {
	padding-right: 0;
}

.no-gutter-left-lg-up {
	@media screen and (min-width: 64em) {
		padding-left: 0;
	}
}

.no-gutter-right-lg-up {
	@media screen and (min-width: 64em) {
		padding-right: 0;
	}
}

.wrapper {
	margin-top: 25px;
	margin-bottom: 85px;	
}

.section {
	&:last-child {
		> .row {
			padding-bottom: 10px;
		}
	}

	> .row {
		background: $blanc;
		padding-top: 20px;
		padding-bottom: 20px;

		@media screen and (min-width: 40em) {
			padding: 40px 45px;
		}
	}
}

.grey-box {	
	padding: 40px;
	background: $gris-clair;
}

.descriptif {
	.image-desc {
		
		h3 {
			font-size: 32px;
			margin-bottom: 27px;
		}
		p {
			margin-bottom: 30px;
		}
		& + .breadcrumbs {
			margin-top: 10px;
		}
	}
}

.wysiwyg {
	margin-bottom: 65px;

	h1 {
		margin-bottom: 50px;		
	}
	h2 {
		margin-top: 60px;
		text-align: center;
		margin-bottom: 20px;
	}
	p {
		margin-bottom: 25px;
	}
	table {
		margin-bottom: 90px;

		tr {
			th, td {
				 border: 1px solid $gris;
				 padding-top: 13px;
				 padding-bottom: 13px;
			}

			th {
				background: $gris-clair;
				color: $rose;
				text-transform: uppercase;
			}
			td {
				padding-left: 18px;
				padding-right: 18px;
				width: 50%;
				background: $blanc;
				
			}
		}
	}

	ol {
		padding: 0;
		margin: 0;
		list-style: none;
		font-size: 14px;

			li {
				counter-increment: li;
				margin-bottom: 15px;

				b {					
					color: $rose;					
				}

				span {
					display: block;
					margin-left: 15px;
					font-family: $helvneue;
		   			color : $gris-f;
				}

				&:before {
					content: counter(li); 
					color: $rose;
			  		display: inline-block; 
			  		width: 15px;
			  		font-weight: bold;
				}
			}
	}
}

.top {
	display: inline-block;
	width: 36px;
	height: 36px;
	line-height: 36px;
	background: $gris;
	color: $blanc;
	cursor: pointer;
	font-size: 14px;
	text-align: center;
}

.form-container {
	padding: 40px 20px;

	form {
		[type='checkbox'] {
			margin-bottom: 20px;
		}
		label {
			margin-right: 0;
			
			input {
			height: 45px;
			padding-left: 20px;
			padding-right: 20px;
			margin-bottom: 23px;
		}
		}

		.h-24 {
			label input, label select {
				height: 24px;				
			}

			 label select {
				padding-top: 0;
				padding-bottom: 0;
				padding-left: 20px;
			 }

		}

		.error label input{
			border-color: $rose;
		}

		.small-2 > i {
			color: $gris;
			font-size: 14px;
		}
		hr {
			border-bottom-color: $gris;
		}
	}
}

.result {
	background: $rose;
	padding: 30px 15px 60px;

	span {
		display: block;
		margin-bottom: 15px;
		text-align: left;
		color: $blanc;
		text-transform: uppercase;
		font-family: $oswald;
		font-size: 20px;
	}
}

.map-container {
	margin-bottom: 75px;

	h2 {
		text-align: center;
		margin-bottom: 30px;
	}
}

.estimation-container {
	margin-bottom: 75px;
	padding: 10px 20px;
	background: $gris-clair;

	h3 {
		display: inline-block;
	}

	@media screen and (min-width: 64em) {
		height: 102px;
		line-height: 102px;
	}

}

.quarter-price-container {
	margin-bottom: 20px;

	h2 {
		text-align: center;
		margin-bottom: 30px;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			font-family: $helvneue;
    		font-size: 14px;
   			color : $gris-f;

			&:before {
				content:"•";
				color: $rose;
				margin-right: 12px;
			}
		}
	}
}

.grey-box-aside {
	padding-left: 20px;
	padding-right: 20px;

	h3 {
		margin-bottom: 30px;
	}

	span {
		display: block;
		text-transform: uppercase;
		color: $rose;
		margin-bottom: 20px;
		& + p {
			margin-bottom: 40px;
		}
	}
	p {
		margin-bottom: 0;
	}
}

.img-container {
	position: relative;
	height: 700px;
	background: $gris;
	overflow: hidden;
	
	img, .box-404 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}	

	img {
		width: auto;
		height: auto;
	}
	.box-404 {
		max-width: 480px;
		min-width: 300px;
		background: $blanc;
		padding: 30px 40px;

		h1 {
			margin-bottom: 40px;
		}
		p {
			line-height: 30px;
		}

	}
}