$breadcrumbs-item-separator-item: '|';
$breadcrumbs-item-separator-item-rtl: '' ;
$breadcrumbs-item-uppercase: false;

body {
	background: $gris-clair;
}

.no-gutter {
	padding: 0;
}

.no-gutter-left {
	padding-left: 0;
}

.no-gutter-right {
	padding-right: 0;
}

.no-gutter-left-lg-up {
	@media screen and (min-width: 64em) {
		padding-left: 0;
	}
}

.no-gutter-right-lg-up {
	@media screen and (min-width: 64em) {
		padding-right: 0;
	}
}

section >.row {
	background: $blanc;	
	padding: 40px 45px;
}

.descriptif {
	margin-top: 25px;

	.image-desc {
		padding: 40px;
		background: $gris-clair;
		margin-bottom: 10px;

		aside {
			font-size: 30px;
			text-transform: uppercase;
		}
	}
}

.wysiwyg {
	h2 {
		margin-top: 50px;
		text-align: center;
	}
	p {
		margin-bottom: 20px;

	}
}

.form {
	background: red;
}