<footer>
  <div class="row pt-80 pb-80">
    <div class="medium-2 large-3 columns">
      <p class="lead"><img src="assets/img/logo-footer.png" class="float-center" width="180" alt=""></p>
    </div>
    <div class="medium-3 large-2 columns mb-20">
      <ul class="menu vertical">
        <li><a href="#0">Le marché immobilier</a></li>
        <li><a href="#0">les prix à l'achat</a></li>
        <li><a href="#0">les prix à la location</a></li>
        <li><a href="#0">Actualités</a></li>
        <li><a href="#0">FAQ</a></li>
        <li><button type="button" class="button">Nous contacter</button></li>
      </ul>
    </div>
    <div class="medium-7 large-7 columns wrapper-cnil-block">
      <div class="cnil-block">
        <p class="lead"><img src="assets/img/logo-cnil.png" alt=""></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, veritatis maxime possimus. Dignissimos asperiores expedita magnam est, sint blanditiis et dolorum officia perspiciatis. Iure voluptas aspernatur, explicabo quaerat expedita nemo?</p>
      </div>
    </div>
</footer>