<footer>
  <div class="row">
    <div class="small-6 large-2 columns">
      <p class="lead"><img src="assets/img/logo-footer.png" alt=""></p>
    </div>
    <div class="small-6 large-2 columns">
      <ul class="menu vertical">
        <li><a href="#0">Le marché immobilier</a></li>
	      <li><a href="#0">les prix à l'achat</a></li>
	      <li><a href="#0">les prix à la location</a></li>
	      <li><a href="#0">les prix à la location</a></li>
	      <li><a href="#0">Actualités</a></li>
	      <li><a href="#0">FAQ</a></li>
	      <li><button type="button" class="button">Nous contacter</button></li>
      </ul>
    </div>
    <div class="small-6 large-8 columns">
      <p class="lead"><img src="assets/img/logo-cnil.png" alt=""></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, veritatis maxime possimus. Dignissimos asperiores expedita magnam est, sint blanditiis et dolorum officia perspiciatis. Iure voluptas aspernatur, explicabo quaerat expedita nemo?</p>
    </div>
</footer>