<div class="off-canvas-wrapper">
	<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
		<div class="off-canvas position-left" data-transition="overlap" id="offCanvas" data-off-canvas>
			<ul class="dropdown menu vertical menu-mobile" data-dropdown-menu>
				<li><a href="#0">Le marché immobilier</a></li>
				<li><a href="#0">les prix à l'achat</a></li>
				<li><a href="#0">les prix à la location</a></li>
				<li><a href="#0">les prix à la location</a></li>
				<li><a href="#0">Actualités</a></li>
				<li><a href="#0">FAQ</a></li>
				<li><button type="button" class="button">Nous contacter</button></li>
			</ul>
		</div>
		<div class="off-canvas-content" data-off-canvas-content>
			<header>
				<div class="title-bar hide-for-large">
					<button type="button" data-toggle="offCanvas"><i class="fa fa-bars"></i></button>
					<div data-hide-for="large">
						<a href="#0"><img src="assets/img/logo-header.png" width="100" alt=""></a>
					</div>
				</div>
				<div class="top-bar show-for-large">
					<div class="top-bar-left">
						<div class="row">
							<div class="large-2 columns show-for-medium">
									<a href="#0"><img src="assets/img/logo-header.png" alt=""></a>
							</div>
							<nav class="large-10 columns align-self-middle">
								<ul class="dropdown menu" data-dropdown-menu>
									<li><a href="#0">Le marché immobilier</a></li>
									<li><a href="#0">les prix à l'achat</a></li>
									<li><a href="#0">les prix à la location</a></li>
									<li><a href="#0">les prix à la location</a></li>
									<li><a href="#0">Actualités</a></li>
									<li><a href="#0">FAQ</a></li>
									<li><button type="button" class="button">Nous contacter</button></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</header>