<header class="site-header" role="banner">
	<div class="site-title-bar title-bar hide-for-large">
		<button type="button" data-toggle="offCanvas"><i class="fa fa-bars"></i></button>
		<div data-hide-for="large">
			<a href="#0"><img src="assets/img/logo-header.png" width="70" alt=""></a>
		</div>
	</div>
	<nav class="row site-navigation top-bar" role="navigation">
		<div class="top-bar-left show-for-large">
			<div class="site-desktop-title top-bar-title">
				<a href="https://prix-immobilier-toulouse.fr/wp/" rel="home"><img src="assets/img/logo-header.png" alt=""></a>
			</div>
		</div>
		<div class="top-bar-right">
			<ul class="dropdown menu show-for-large" data-dropdown-menu>
				<li><a href="#0">Le marché immobilier</a></li>
				<li><a href="#0">les prix à l'achat</a></li>
				<li><a href="#0">les prix à la location</a></li>
				<li><a href="#0">Actualités</a></li>
				<li><a href="#0">FAQ</a></li>
				<li><button type="button" class="button">Nous contacter</button></li>
			</ul>
			<div class="off-canvas position-left" data-transition="overlap" id="offCanvas" data-off-canvas>
				<nav class="mobile-menu vertical" role="navigation" data-toggle="offCanvas">
					<ul class="dropdown menu vertical bg-rose menu-mobile" data-dropdown-menu>
						<li><a href="#0">Le marché immobilier</a></li>
						<li><a href="#0">les prix à l'achat</a></li>
						<li><a href="#0">les prix à la location</a></li>
						<li><a href="#0">les prix à la location</a></li>
						<li><a href="#0">Actualités</a></li>
						<li><a href="#0">FAQ</a></li>
						<li><button type="button" class="button">Nous contacter</button></li>
					</ul>
				</nav>
			</div>
		</div>
	</nav>
</header>